form.form-search.navbar-search.pull-right ng-controller="SearchCtrl" ng-submit="location.path('/search');query.commit()"
  input.search-query ng-model="query.string" placeholder='Search' type='search'
