@import "bootstrap";
@import "pop-up_bootstrap";
@import "bootstrap_form";
@import "auth_buttons";

body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  text-align: center
}

.container-login {
  display: inline-block;
  padding: 19px 29px 29px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
  text-align: left;
}

.form-signin .form-signin-heading, .form-signup-heading
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin, .form-vertical{
  input[type="email"],
  input[type="text"],
  input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    box-sizing: border-box;
    width: 100%;
  }
  label {
    margin-top: 10px;
    font-weight: 800;
  }
}

.footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #eee;
  color: #999;
  text-align: center;
}

.btn-prx {
    border-color: #ccc;
    color: #666;
    text-shadow: 0 1px 0 #f9f9f9;
    background: #d9d9d9;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));
    background-image: -webkit-linear-gradient(#eee, #ddd);
    background-image: -moz-linear-gradient(#eee, #ddd);
    background-image: -ms-linear-gradient(#eee, #ddd);
    background-image: -o-linear-gradient(#eee, #ddd);
    background-image: linear-gradient(#eee, #ddd);
}

.btn-prx:hover,
.btn-prx:focus,
.btn-prx:active {
    color: #666;
    background-color: #e5e5e5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eee));
    background-image: -webkit-linear-gradient(#f5f5f5, #eee);
    background-image: -moz-linear-gradient(#f5f5f5, #eee);
    background-image: -ms-linear-gradient(#f5f5f5, #eee);
    background-image: -o-linear-gradient(#f5f5f5, #eee);
    background-image: linear-gradient(#f5f5f5, #eee);
}

.btn-prx:active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.btn-prx:before {
    margin: 3px 0px 0px -5px;
    background: image-url('prx_favicon.png') no-repeat;
}


.social-signin {
  border-left: 1px solid #ddd;
  position: relative;
  width: 55%;

  .btn-auth {
    margin-bottom: 3px;
    width: 155px;
  }

  &:before {
    content: "or";
    background: #fff;
    position: absolute;
    color: #999;
    top: 30px;
    left: -8px;
    font-style: italic;
  }
}


