form.form-inline ng-controller="ImportMappingCtrl"
  h1
    | Map Your Data
    small &nbsp; {{csvImport.file}}

  div.alert.alert-info

    p We've mapped your spreadsheet to Pop Up Archive — check it out and make changes below by choosing from the dropdown fields in the "Pop Up Field" column.

    p Don't see a field you want? Select "Extra" in the dropdown. But for the best possible filtering and search results, map your data to the pre-existing Pop Up Archive fields.

    i.icon-info-sign 
     a bs-modal="'#{asset_path 'imports/field_descriptions.html'}'"  Destination Field Descriptions

  .well
    label for='collection-id'
      strong Please select which collection these items will be added to once they are imported:
    select#collection-id.pull-right ng-model='csvImport.collectionId' ng-options="collection.id as collection.title for collection in collections"
    

  table.table.table-striped.table-bordered
    thead
      tr
        th Your Column Name
        th Pop Up Field
        th ng-click="getNewPreviewRows()"
          | Sample Data &nbsp;
          i.icon-refresh
          small &nbsp; Fetch new preview 
    tbody
      tr ng-repeat="header in csvImport.headers"
        td {{header}}
        td
          select ng-model="csvImport.mappings[$index].column" ng-options="column.name as column.humanName group by schema.types[column.typeId].humanName for column in schema.columnsWith(header) | type:csvImport.mappings[$index].type"
        td
          em {{schema.getValue(csvImport.mappings[$index].column, csvImport.mappings, csvImport.previewRows[0])}}

  .well
    button.btn.btn-link ng-disabled="csvImport.isSaving" ng-click="cancel()" Cancel
    .pull-right
      button.btn ng-click="save()" ng-disabled="csvImport.isSaving" Save &amp; Close
      | &nbsp;
      button.btn.btn-primary ng-disabled="!csvImport.importable()" ng-click="submitMapping()" Import!
