PRX_APP_KEY=changeme
PRX_APP_SECRET=changeme
SECRET_TOKEN=changeme
DATABASE_URL=postgres://___USERNAME___@localhost/pop-up-archive_development
TEST_DATABASE_URL=postgres://___USERNAME___@localhost/pop-up-archive_test

