$collection-size: 166px;

ul.collections {

  margin: 0;

  li {
    overflow: hidden;
    width: $collection-size;
    height: $collection-size;
    text-align: center;
    float: left;
    text-overflow:ellipsis;

    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    margin: 0 0 10px 10px;


    &:nth-child(5n+5) {
      margin-right: -10px;
    }

    .collection-thumb {
      display: block;
      width: $collection-size;
      font-size: $collection-size - 30px;
    }
  }

  li.add-collection {
    border: 3px dashed #ddd;
    background: transparent;

    width: $collection-size - 6px;
    height: $collection-size - 6px;

    a {
      color: #ddd;

      &:hover, &:active {
        text-decoration: none;
      }
    }
  }
  i.icon-plus {
    font-size: 136px;
    width: $collection-size - 6px;
    display:block;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

ul.items {
  margin: 0;
  padding: 10px 0 0;

  &.uploads {
    max-height: 250px;
    li {
      background: rgba(255, 255, 255, 0.5);
    }
  }

  li {
    cursor: pointer;
    overflow:hidden;
    width: 73px;
    height: 73px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    text-align: center;
    text-overflow:ellipsis;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;

    & > * {
      pointer-events:none;
    }

    &:nth-child(10n+10) {
      margin-right: -10px;
    }

    &.selected {
      background: rgba(200, 200, 255, 0.9);
    }

    &.add-item {

      .item-thumb {
        font-size: 45px;
      }

      background: transparent;
      border: 3px dashed rgba(255, 255, 255, 0.5);
      width: 67px;
      height: 67px;

      a {
        color: rgba(255, 255, 255, 0.7);
        &:hover, &:active {
          text-decoration: none;
        }
      }
    }

    transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -webkit-transition: background 0.2s ease;

    .item-thumb {
      font-size: 50px;
    }
  }

  overflow-x: hidden;
  overflow-y: scroll;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

div.collections, div.holding-cell, div.items {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #fff;
  margin: 0 0 30px;

  h4 {
    margin-left: 10px;
  }

  &.nobg {
    background: transparent;
    box-shadow: none;
  }

  .alert {
    margin: 0 10px 10px;
  }

  &.fill {
    position: absolute;
    top: 180px;
    height: auto;
    max-height: auto;
    overflow-x: hidden;
    overflow-y: auto; 
    bottom: 15px;
    width: 940px;
  }
}

div.collections {
  max-height: 250px;
  padding-top: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.holding-cell
.selection-actions {
  position: absolute;
  bottom: -100px;
  right: 0px;
  padding: 5px 7px 2px 3px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  background: rgba(0,0,0,0.8);

  transition: bottom 0.2s ease;
  -moz-transition: bottom 0.2s ease;
  -webkit-transition: bottom 0.2s ease;

  &.in {
    bottom: 0px;
  }
}

.selection-actions {
  button {
    margin-left: 3px;
  }
}

div.holding-cell {
  background: rgba(255, 100, 100, 0.5);
}

.page-nav {
  margin: 10px 0;
  .btn {
    margin-left: 3px;
  }

  width: 50%;
  text-align: right;

  & > * {
    transition: opacity ease 0.2s, top ease 0.2s;
    -moz-transition: opacity ease 0.2s, top ease 0.2s;
    -webkit-transition: opacity ease 0.2s, top ease 0.2s;
  }

  position: relative;

  &.selection {
    & > * {
      opacity: 0;
    }

    .selection-actions {
      opacity: 1;
      top: -5px;
    }
  }

  .selection-actions {
    position: absolute;
    top: 100%;
    right: -5px;
    opacity: 0;
    .buttons {
      display: inline-block;
      padding: 5px 5px 5px 2px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.1);
    }
    overflow: hidden;
    white-space: nowrap;
    small {
      display: inline-block;
      margin-top: 5px;
      color: rgba(0,0,0,0.4);
    }
  }
}
