@import "bootstrap";
@import "font-awesome";

.scrubbing {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  height: 100%;
}

body {
  padding-top: 60px;
  box-sizing: border-box;
  min-height: 100%;
  height:auto !important;
  height:500px;
  position: relative;
  padding-bottom: 35px;
}

.file-drop-zone-overlay {
  text-align: center;
  padding-top: 200px;
}

a[href=""] {
  color: #333;
  cursor: default;
}

a[href=""]:hover {
  text-decoration: none;
}

a.with-information {
  color: #eee !important;
  text-shadow: 0 0 5px #eee !important;  
}

.dropdown-menu li.alert-shower {
  width: 300px;

  &.pending a:hover {
    color: #333;
    background: none !important;
  }

  .message {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;

    .status {
      font-weight: 600;
    }
  }
}

table.horizontal-scrolling {
  max-width: none;

  tr td, tr th {
    white-space: nowrap;
  }
}

table.fit-in-window {

  td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.media.muted {
  opacity: 0.7;
}

form.form-big {
  input, button.btn {
    font-size: 28px;
    height: 28px;
    border-radius: 28px;
    padding-left: 20px;
  }

  button.btn {
    height: 38px;
  }

  .input-append .btn {
    border-radius: 0 28px 28px 0;
  }

  .input-append .search-query {
    border-radius: 28px 0 0 28px;
  }
}

.container-footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;

  &.ui-animate {
    opacity: 0;
  }
  .loading-indicator {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 100%;
    text-align:center;
    color: #fff;
    font-weight: 800;
    font-size: 2em;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0,0,0,0.9);
  }
}

.dropdown-menu, .dropdown-menu * {
  opacity: 0;
  transition: opacity 0.2s ease, max-height 0.2s ease;
  -o-transition: opacity 0.2s ease, max-height 0.2s ease;
  -moz-transition: opacity 0.2s ease, max-height 0.2s ease;
  -webkit-transition: opacity 0.2s ease, max-height 0.2s ease;
  max-height: 0px;
  display:block;
}

.open > .dropdown-menu, .open > .dropdown-menu * {
  opacity: 1;
  max-height: 100000px;
}

.player {
  width: 400px;
.scrubber {
  border: 1px solid #666;
  border-radius: 10px;
  height: 30px;
  overflow: hidden;

  .bar {
    width: 0;
    height: 100%;
    background: #000;
  }
}
}

$persistent-player-width: 100px;
$persistent-player-scrollpading: 15px;

#persistent-player {
  position: fixed;
  z-index:10;
  top: 0;
  width: $persistent-player-width;
  overflow:hidden;
  right: $persistent-player-scrollpading;
  bottom: 3px;
  padding-top: 40px;
  margin-right:0;

  transition: transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;

  &.hidden {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
  }

  background: #333;

  .player-controls {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    a {
      display: inline-block;
      color: #ddd;
      text-shadow: 0 -1px 0 #000;
      width: $persistent-player-width / 3;
      line-height: 30px;
      font-size: 20px;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
      &[disabled] {
        color: #666;
      }
    }
  }

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}

.vertical-scrubber {
  background: #fff url("/waveform.png") center repeat-y;
  position:absolute;
  top:37px;
  bottom:30px;
  left: 2px;
  right: 2px;
  z-index: 10;
  overflow:hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 2px 2px #000 inset, 0 1px 0 rgba(255, 255, 255, 0.5);

  .bar {
    width: 100%;
    z-index: 10;
    background: #fff;
    bottom:0;
    position: absolute;
    background: rgba(186, 70, 65, 0.8);
  }
}

.search-result{
  img {
    width: 85px;
    height: 85px;
    background: url("http://placedog.com/85/85");
    border: 1px solid #aaa !important;
  }

  h3 {
    margin-left: 180px;
  }
} 

ul.terms {
  li {
    position: relative;
    height: 25px;
    .label {
      position: absolute;
      cursor: pointer;
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
        transition: max-width 0.3s ease-in-out;
        -o-transition: max-width 0.3s ease-in-out;
        -moz-transition: max-width 0.3s ease-in-out;
        -webkit-transition: max-width 0.3s ease-in-out;

      &:hover {
        max-width: 350px;
      };
    }
  }
  small {
    color: #999;
    font-size: 0.7em;
  }
}