@import "bootstrap";
@import "pop-up_bootstrap";
@import "my-collections";
@import "font-awesome";
@import "bootstrap-datepicker";
@import "angular-ui";
@import "select2";
@import "select2-bootstrap";
@import "animate";

.scrubbing {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.brochure {
  color: #7C7B81;
  background: none;
  font-family: "freight-text-pro", serif;
  font-size: 22px;
  padding: 0;

  h1 {
    color: #B59B6D;
    font-family: "soleil", sans-serif !important;
    font-weight: 800;
    font-size: 32px !important;
    line-height: 38px;
    margin-bottom: 12px;
  }

  h3 {
    color: #B59B6D;
    font-family: "soleil", sans-serif !important;
    margin-top: 26px;
    padding-top: 15px;
  }

  h4 {
    color: #B59B6D;
    font-family: "soleil", sans-serif;
    margin-top: 25px;
    font-size: 22px;
    font-weight: 800;
  }

  p {
    line-height: 1.25em;
  }

  ul.big {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      float: left;
      max-width: 200px;

      a {
        display: block;
        border-top: 6px solid white;
        margin-right: 25px;
        color: #7d7c82;
        font-size: 24px;
        cursor: pointer;

        &:hover {
          border-top: 6px solid #5970B1;
          text-decoration: none;
        }
      }
    }
  }
}

.file-drop-zone-overlay {
  text-align: center;
  padding-top: 200px;
}


.navbar {
  .nav {
    ul.alert-showers, .alert-showers li.alert-shower {
      width: 300px;

      a:hover, li a:hover {
        color: #333 !important;
        background: none !important;
      }

      &.pending a:hover, .pending a:hover {
        color: #333 !important;
        background: none !important;
      }

      a span {
        text-transform: uppercase;
      }

      .message {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 5px;

        .status {
          font-weight: 600;
        }
      }
    }
  }
}

table.horizontal-scrolling {
  max-width: none;

  tr td, tr th {
    white-space: nowrap;
  }
}

table.fit-in-window {

  td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.media.muted {
  opacity: 0.7;
}

form.form-big {
  position: relative;

  input, button.btn {
    font-size: 28px;
    height: 28px;
    line-height: 38px;
    border-radius: 28px;
    padding-left: 20px;
  }

  button.btn {
    height: 38px;
    padding-left: 10px;
    line-height: 28px;
  }

  .input-append .btn {
    border-radius: 0 28px 28px 0;
  }

  .input-append .search-query {
    border-radius: 28px 0 0 28px;
  }
}

.search-query {
  width: 100%;
}

button.pua-pill {
  border: 0px;
  border-radius: 8px;
  background: #7C7B81;
  color: white;
  font-family: "soleil", sans-serif;
  padding: 7px 14px;
  font-size: 14px;
  font-weight: 800;
  display: block;
  float: left;
  clear: both;
}

.container-footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.loading-overlay {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;

  &.ui-animate {
    opacity: 0;
  }
  .loading-indicator {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 100%;
    text-align:center;
    color: #fff;
    font-weight: 800;
    font-size: 2em;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0,0,0,0.9);
  }
}

.player {

  background: #fff;
  padding: 20px;
  border-radius: 20px;
  .player-button {
    color: #fff;
    border: 5px solid #ccc;
    background: transparent;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;

    i {
      font-size: 24px;
      line-height: 24px;
      padding: 8px;
      width: 24px;
      height: 24px;
      display: block;
      border-radius: 50%;
      background: #ccc;
      margin: 0;
    }

    &:hover {
      border-color: #5970B1;
      i {
        background: #5970B1;
      }
    }
  }

  width: 700px;
  .scrubber {
    border-radius: 10px;
    height: 60px;
    overflow: hidden;
    float: right;
    width: 550px;
    border-radius: 30px;
    background: rgb(242, 239, 239);
    position: relative;

    .timecodes {
      margin: 0 auto;
      position: relative;
      top: -40px;
      text-align: center;
      font-weight: 800;
      font-size: 24px;
      color: rgb(89,112,177);
    }

    .bar {
      width: 0;
      height: 100%;
      background: #85D0F1;
      opacity: 0.5;
    }
  }
}

$persistent-player-width: 70px;
$persistent-player-scrollpading: 15px;

#persistent-player {
  position: fixed;
  z-index:2000;
  top: 0;
  width: $persistent-player-width;
  padding: 10px;
  background: #fff;
  overflow:hidden;
  right: $persistent-player-scrollpading;
  bottom: 10px;
  margin-right:0;
  border-radius: 0;
  border-bottom-left-radius: $persistent-player-width / 2 + 10px;
  border-bottom-right-radius: $persistent-player-width / 2 + 10px;

  transition: transform 0.5s ease-in-out, bottom 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out, bottom 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out, bottom 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out, bottom 0.5s ease-in-out;

  &.hidden {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
  }

  &.collapsed {
    min-height: 80px;
    bottom: 90%;

    .vertical-scrubber {
      bottom: 100px;
    }
  }

  .player-controls {
    position: absolute;
    bottom: 10px;
    text-align: center;
    .player-button i {
      font-size: 34px;
      line-height: 30px;
      width: 30px;
      height: 30px;
      padding: 10px;

      &.icon-play {
        padding: 10px 7px 10px 13px;
      }
    }
  }

  .collapse-button, .expand-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    font-size: 10px;
    line-height: 10px;
    width: $persistent-player-width;
    text-align: center;
    font-variant: small-caps;
    i {
      margin: 5px;
    }
  }
}

.vertical-scrubber {
  background: rgb(242, 239, 239);
  position: absolute;
  top: 15px;
  bottom: 90px;
  left: 10px;
  right: 10px;
  overflow:hidden;
  border-bottom-left-radius: $persistent-player-width / 2;
  border-bottom-right-radius: $persistent-player-width / 2;

  .bar {
    width: 100%;
    margin-top: 0px;
    background: #85D0F1;
    opacity: 0.5;
  }
}

.media .pull-left {
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid;
  overflow:hidden;
  width: 90px;
  height: 90px;
  display:block;
  text-align:center;
  line-height: 80px
}

img.media-object {
  max-width: 90px;
  max-height: 90px;
  display: inline;
}

.facets {
  .facet {

    h5 {
      color: #B59B6D;
      font-family: "soleil", sans-serif !important;
      font-weight: 800;
      font-size: 16px;
      border-bottom: 4px solid white;
      padding-bottom: 10px;
      margin-bottom: 10px;
      display: block;
    }

    ul {
      li {
        padding: 5px 5px 0 5px;

        &:hover {
          background: #5970B1;
          border-radius: 8px;

          small {
            display: none;
          }

          .label-info {
            color: white;
          }
        }

        small {
          font-family: "soleil", sans-serif !important;
          color: #B59B6D;
          font-weight: bold;
          font-size: 12px;
        }

        .label-info {
          font-family: "soleil", sans-serif !important;
          font-size: 14px;
          background: none;
          border-radius: 0;
          color: #7C7B81;
        }
      }
    }
  }
}


.search-result {

  h3 {
    margin-left: 180px;
  }

  .media-heading a {
    color: #B59B6D;
    font-family: "soleil", sans-serif !important;
    font-size: 18px;
    font-weight: 800;

    &:hover {
      color: #5970B1;
    }
  }

  .media {
    margin-top: 4px !important;

    p, li {
      color: #7C7B81;
      background: none;
      font-family: "freight-text-pro", serif;
      font-weight: normal;
      font-size: 14px;
      padding: 0;
      margin: 0;
    }
  }
}

.result-count {
  color: #7C7B81;
  background: none;
  font-family: "freight-text-pro", serif;
  font-weight: normal;
  font-size: 14px;
}

.item-form {

  .contributor {
    float: right;

    .field {
      padding-right: 8px;
    }
  }

}

.file-transcript {
  padding: 0px;
  display: block;
  max-height: 75px;
  overflow: auto;

  .current {
    background-color: #FFFBCC;
  }

  .file-transcript-text {
    height: 22px;
    overflow: hidden;
  }

  table {
    td {
      padding: 2px;

      a i {
        color: black;
        text-decoration: none;
      }
    }
  }
}

.file-transcript::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.file-transcript::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.item-detail {
  h4 {
    color: #7D7C82;
  }

  .well {
    font-family: "soleil", sans-serif;
    box-shadow: none;
    background: white;
    border-radius: 14px;
    border: none;
    padding: 10px 20px;
    word-wrap: break-word;

    .btn {
      background: #5970B1;
      border: 0;
      border-radius: 8px;
      color: white;
    }

    h1 {
      color: #B59B6D;
      font-weight: 800;
      font-size: 32px !important;
    }
  }

  section.notes {
    h5 {
      color: #7D7C82;
      font-family: "soleil", sans-serif !important;
    }

    padding: 0px;
    display: block;
  }

  section.transcription {
    h5 {
      color: #7D7C82;
      font-family: "soleil", sans-serif !important;
    }

    padding: 0px;
    display: block;
  }

  section.rights {
    h5 {
      color: #7D7C82;
      font-family: "soleil", sans-serif !important;
    }

    padding: 0px 15px;
    display: block;
  }

  section.entities {
    h5 {
      font-family: "soleil", sans-serif !important;
      color: #7D7C82;
      clear: both;
    }

    padding: 0px;
    display: block;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      clear: both;

      li.entity {
        display: block;
        float: left;
        font-family: "soleil", sans-serif !important;
        margin: 4px;

        .btn {
          background: #B59B6D;
          border: 0;
          color: white;
          padding: 4px;
          border-radius: 0px;

          &:hover {
            background: #5970B1;
          }

        }

        .delete {
          border-radius: 13px 0 0 13px;
          padding: 4px;
        }

        .confirm {
          border-radius: 0 13px 13px 0;
          padding: 4px;
        }

        .tag {
          border-radius: 13px;
          padding: 4px 12px;
        }

        .confirmed {
          border-radius: 0 13px 13px 0;
          padding: 4px 12px 4px 4px;
        }

      }
    }
  }

  section.tags {
    h5 {
      font-family: "soleil", sans-serif !important;
      color: #7D7C82;
      clear: both;
    }

    padding: 0px 15px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      clear: both;

      li {
        display: block;
        float: left;
        font-family: "soleil", sans-serif !important;
        margin: 4px;

        .btn {
          background: #B59B6D;
          border: 0;
          border-radius: 13px;
          color: white;

          &:hover {
            background: #5970B1;
          }
        }
      }
    }
  }
}

ul.terms {
  li {
    position: relative;
    height: 25px;
    .label {
      position: absolute;
      cursor: pointer;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
        transition: max-width 0.3s ease-in-out;
        -o-transition: max-width 0.3s ease-in-out;
        -moz-transition: max-width 0.3s ease-in-out;
        -webkit-transition: max-width 0.3s ease-in-out;

      &:hover {
        max-width: 350px;
      };
    }
  }
  small {
    color: #999;
    font-size: 0.7em;
  }
}

ul.pager {
  height: 32px;
}

ul.search-pills {
  position: absolute;
  top: 5px;
  right: 65px;
  li {
    margin-left: 3px;
    height: 24px;
    line-height: 24px;
    font-size: 22px;
    span {
      display: inline-block;
      max-width: 200px;
      overflow: hidden;
      text-overflow:ellipsis;
      transition: max-width 0.3s ease-in-out;
      -o-transition: max-width 0.3s ease-in-out;
      -moz-transition: max-width 0.3s ease-in-out;
      -webkit-transition: max-width 0.3s ease-in-out;

      &:hover {
        max-width: 450px;
      };
    }
    i {
      cursor: pointer;
    }
  }
}

$navbarHeight: 105px;

.navbar-shadow {
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0px;
  &:after {
    display: block;
    margin: $navbarHeight - 10px auto 0;
    height: 10px;
    width: $gridRowWidth + 10px;
    content: "";
    box-shadow: 0 0 15px black;
  }
}

.navbar-shadow-hider {
  position:absolute;
  top: $navbarHeight;
  z-index: 6;
  background: #f2efef;
  width: 100%;
  height: 15px;
}

h5.results-count {
  color: #B59B6D;
  font-family: "soleil", sans-serif !important;
  font-weight: 800;
  font-size: 16px;
  border-bottom: 4px solid white;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: block;
}

.pager {
  li.centered {
    display: inline-block;
    overflow: hidden;
    width: 700px;
    .form-search {
      line-height: 20px;
      height: 20px;
      .input-append {
        width: 100%;

        input, button {
          box-shadow: none;
          border: none;
        }

        button {
          background: rgb(181,154,109);
          color: #fff;
          text-shadow: none;
        }
      }
      width: 100%;
      input {
        width: 85%;
      }
    }
  }
}

form.with-tags {
  position: relative;
  ul.tags {
    position: absolute;
    top: 4px;
    z-index: 100;
    right: 65px;
  }
}

.background-container {
	background-color: rgba(255,255,255,.5);
	padding: 15px 0;
}

.brochure.slide-span {
  height: 240px;
  background-color: rgb(255, 255, 255);
  padding: 8px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.slide-span a:hover {
  text-decoration: none;  
}

.slide-span .title {
  margin-left: 4px;
  color: #FF974D;
}

.slide-span .content {
  color: #FF974D;
  font-size: 16px;
  margin: 4px;
}

.slide-span .image {
  display: block;
  padding: 14px;
  margin: 0 auto;
  text-align: center;
}

.number-circle {
  padding: 0px;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  position: relative;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  -khtml-border-radius: 50%;
  background: #F25A4C;

  font-family: "soleil", sans-serif !important;
  text-shadow: none !important;

  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 16px;
}

div#-assets-collections-tutorial1-00M.modal, div#-assets-collections-tutorial2-00O.modal{
 	background-color: rgba(0, 0, 0, 0);
	border: none;
	box-shadow: none;
}

.big-modal .modal-body{
	max-height: 1100px;
	color: white;
	text-align: center;
}

@media (max-width: 767px) { 
	div.big-modal{
	  width: 460px;
	  margin-left: -230px;}
	img{
		display: none;
	}
}	

#navbarbutton {
	padding: 4px 4px 4px;
	margin: 9px 0px 0px 0px;
}

.metadata {
  word-wrap: break-word;
}

.newimportdiv {
	padding: 10px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, .7);
}

