@import "bootstrap";
@import "font-awesome";

html {
  height: 100%;
}

body {
  padding-top: 60px;
  box-sizing: border-box;
  min-height: 100%;
  height:auto !important;
  height:500px;
  position: relative;
  padding-bottom: 35px;
}

.file-drop-zone-overlay {
  text-align: center;
  padding-top: 200px;
}

a[href=""] {
  color: #333;
  cursor: default;
}

a[href=""]:hover {
  text-decoration: none;
}

a.with-information {
  color: #eee !important;
  text-shadow: 0 0 5px #eee !important;  
}

.dropdown-menu li.alert-shower {
  width: 300px;

  &.pending a:hover {
    color: #333;
    background: none !important;
  }

  .message {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;

    .status {
      font-weight: 600;
    }
  }
}

table.horizontal-scrolling {
  max-width: none;

  tr td, tr th {
    white-space: nowrap;
  }
}

table.fit-in-window {

  td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.media.muted {
  opacity: 0.7;
}

form.form-big {
  input, button.btn {
    font-size: 28px;
    height: 28px;
    border-radius: 28px;
    padding-left: 20px;
  }

  button.btn {
    height: 38px;
  }

  .input-append .btn {
    border-radius: 0 28px 28px 0;
  }

  .input-append .search-query {
    border-radius: 28px 0 0 28px;
  }
}

.container-footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  .loading-indicator {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 100%;
    text-align:center;
    color: #fff;
    font-weight: 800;
    font-size: 2em;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0,0,0,0.9);
  }
}