@import "pop-up_bootstrap";
@import "bootstrap";
@import "font-awesome";

::selection {
  background: #85D0F1;
  color: rgb(242, 239, 239);
}

html {
  height: 100%;
}

body {
  padding-top: 120px;
  box-sizing: border-box;
  min-height: 100%;
  height:auto !important;
  height:500px;
  position: relative;
  padding-bottom: 35px;
  background: rgb(242, 239, 239);
}

.navbar {
  .navbar-inner {
    background: rgb(242, 239, 239) !important;
    border: none !important;
    box-shadow: none !important;
    padding-top: 40px;
  }

  .logo {
    text-indent: -9999px;
    width: 150px;
    height: 48px;
    background: image-url('wordmark_150_prx.png') no-repeat top left;
  }

  .nav {
    a {
      font-family: "soleil", sans-serif !important;
      font-weight: bold !important;
      font-size: 16px !important;
      color: rgb(125, 125, 130) !important;
      text-shadow: none !important;

      &:hover {
        color: #BA4641 !important;
      }
    }
  }
}

.brochure {
  color: #997067;
  background: none;
  font-family: "freight-text-pro", serif;
  font-size: 1.5em;
  padding: 0;

  h1 {
    color: #FFB959;
    font-family: "soleil", sans-serif !important;
    font-weight: 800;
    font-size: 38px !important;
    line-height: 38px;
    margin-bottom: 12px;
  }

  h3 {
    font-family: "soleil", sans-serif !important;
    margin-top: 35px;
    border-top: 1px solid rgb(219, 215, 212);
    padding-top: 15px;
  }

  h4 {
    font-family: "soleil", sans-serif;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 800;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      float: left;
      max-width: 200px;

      a {
        display: block;
        border-top: 3px solid white;
        margin-right: 25px;
        color: #7d7c82;
        font-size: 24px;
        cursor: pointer;

        &:hover {
          border-top: 3px solid #5970B1;
          text-decoration: none;
        }
      }
    }
  }
}

h1 {
  color: #7c7b81;
  font-family: "soleil", sans-serif !important;
  font-weight: 800;
  font-size: 32px;
  }

h2 {
  color: #7c7b81;
  font-family: "soleil", sans-serif !important;
  font-weight: 800;
  font-size: 24px;
}

.file-drop-zone-overlay {
  text-align: center;
  padding-top: 200px;
}

a[href=""] {
  color: #333;
  cursor: default;
}

a[href=""]:hover {
  text-decoration: none;
}

a.with-information {
  color: #eee !important;
  text-shadow: 0 0 5px #eee !important;
}

.dropdown-menu, .dropdown-menu li.alert-shower {
  width: 300px;

  a:hover, li a:hover {
    background: none !important;
  }

  &.pending a:hover, .pending a:hover {
    color: #333 !important;
    background: none !important;
  }

  a span {
    text-transform: uppercase;
  }

  .message {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;

    .status {
      font-weight: 600;
    }
  }
}

table.horizontal-scrolling {
  max-width: none;

  tr td, tr th {
    white-space: nowrap;
  }
}

table.fit-in-window {

  td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.media.muted {
  opacity: 0.7;
}

form.form-big {
  input, button.btn {
    font-size: 28px;
    height: 28px;
    border-radius: 28px;
    padding-left: 20px;
  }

  button.btn {
    height: 38px;
  }

  .input-append .btn {
    border-radius: 0 28px 28px 0;
  }

  .input-append .search-query {
    border-radius: 28px 0 0 28px;
  }
}

.container-footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.loading-overlay {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;

  &.ui-animate {
    opacity: 0;
  }
  .loading-indicator {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 100%;
    text-align:center;
    color: #fff;
    font-weight: 800;
    font-size: 2em;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0,0,0,0.9);
  }
}

.dropdown-menu, .dropdown-menu * {
  opacity: 0;
  transition: opacity 0.2s ease, max-height 0.2s ease;
  -o-transition: opacity 0.2s ease, max-height 0.2s ease;
  -moz-transition: opacity 0.2s ease, max-height 0.2s ease;
  -webkit-transition: opacity 0.2s ease, max-height 0.2s ease;
  max-height: 0px;
  display:block;
}

.open > .dropdown-menu, .open > .dropdown-menu * {
  opacity: 1;
  max-height: 100000px;
}

.player {
  width: 400px;
.scrubber {
  border: 1px solid #666;
  border-radius: 10px;
  height: 30px;
  overflow: hidden;

  .bar {
    width: 0;
    height: 100%;
    background: #000;
  }
}
}

footer, footer p {
  color: #7C7B81;
  font-size: 12px;
}
