@import "bootstrap";

body {
  margin-top: 60px;
}


.dropperModal {
  .progress {
    display: none;

    .bar {
      width: 100%;
    }
  }

  a.delete {
    font-weight: bold;
    display: block;
    float: right;
    text-align: center;
    width: 22px;

    &:hover {
      text-decoration: none;
      background: #ddd;
    }
  }
}
