@import "bootstrap";
@import "font-awesome";

html {
  height: 100%;
}

body {
  padding-top: 60px;
  box-sizing: border-box;
  min-height: 100%;

  height:auto !important;

  height:500px;
}

.file-drop-zone-overlay {
  text-align: center;
  padding-top: 200px;
}

a[href=""] {
  color: #333;
  cursor: default;
}

a[href=""]:hover {
  text-decoration: none;
}

a.with-information {
  color: #eee !important;
  text-shadow: 0 0 5px #eee !important;  
}

.dropdown-menu li.alert-shower {
  width: 300px;

  &.pending a:hover {
    color: #333;
    background: none !important;
  }

  .message {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;

    .status {
      font-weight: 600;
    }
  }
}

table.horizontal-scrolling {
  max-width: none;

  tr td, tr th {
    white-space: nowrap;
  }
}

table.fit-in-window {

  td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.media.muted {
  opacity: 0.7;
}