button.btn.pull-right bs-modal="'#{asset_path 'items/form.html'}'" ng-show="canEdit"
  i.icon-plus  Add an Item

h2 Browsing {{collection.title}}

ng-include ng-controller="SearchResultsCtrl" src="'#{asset_path 'search/results.html'}'"
