.page-nav.pull-right
  button.btn ng-show="canEdit" ng-click="uploadFile()"
    i.icon-plus  Upload
  button.btn.btn-danger ng-click="delete()" ng-show="canEdit"
    i.icon-trash  Delete Collection

h2 Browsing {{collection.title}}

ng-include ng-controller="SearchResultsCtrl" src="'#{asset_path 'search/results.html'}'"
