.modal-header
  button type="button" class="close" data-dismiss="modal" aria-hidden="true" x

  h3 Use collections to sort your audio into related groups.

.modal-body
  img.image ng-src='#{asset_path("collections_tut1.png")}'

.modal-footer
  div If you're not ready to create collections, you can upload audio to 'My Uploads.' Then, create collections anytime and move audio from My Uploads into your collections to see transcripts and add tags.

  button.btn type="button" ng-click="dismiss()" Continue
