div
  .modal-body
		img.image src='#{asset_path("collections_tut2.png")}'
		|Drag a file (or several) into a collection to add an audio item. <br/> An item could have one or more files — like if an interview is recorded in two parts.